body{
    margin:auto;
    height:100vh;
    display:grid;
    justify-content: center;
    align-items: center;
    background: black;
}

.cont{
    background: white;
    padding:10px;
    width:100%;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 70px;
    gap:8px;
}
.box{
    background: white;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.b1{ 
    grid-row-start: 1;
    grid-row-end: 3;
 }
.b2{ 
    grid-column-start: 2;
    grid-column-end: 4;
    }
.b5{ 
    grid-column-start:3 ;
    grid-column-end:5 ;
 }
.b7{ 
    grid-column-start:2 ;
    grid-column-end: 4;
 }
.b10{ 
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;   
 }
.b8{ 
    grid-column-start:1;
    grid-column-end: 3;
 }

.b11{ 

 }
.b12{ 

 }
.b15{ 

 }
.b17{ 

 }
.b18{

 }