body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-image: url("patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: #eee;
    margin-bottom: 8px;
    border-radius: 4px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    padding: 4px 8px;
    font-size: 12px;
}

.delete-btn:hover{
    background-color: black;
    background: #eee;
}