body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-image:url("https://plus.unsplash.com/premium_vector-1750596579194-ae4fe7f43df3?q=80&w=1207&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
} 
nav {
    background-color: grey;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.container {
    padding: 20px;
}
.products {
    display: flex;
    gap: 20px;
}
.product {
    border: 2px solid black;
    width: 200px;
    padding: 10px;
    text-align: center;
}
.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}