body{
    background-image: url("./download.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h2{
    background: linear-gradient(to right, skyblue, green);
    padding: 8px;
    color: black;
}

div{
    height: auto;
    width: 250px;
    background-color: white;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px;
    float: left;
}

p{
    clear: left;
    font-size: 18px;
    color: black;
    margin: 15px 0;
}



/* Link Styling */
a{
    font-weight: bold;
    color: blue;
}
a:hover {
    color: #e74c3c;
}