.parent{
    margin-top: 50px;
    height: 600px;
    width: 600px;
    background-color: white;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 6px;
}

.container{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.c1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.c2{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

.c3{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
}

.c4{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.c5{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 3;
}

.c6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.c7{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

.c10{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 3;
    grid-row-end: 5;
}

.c8{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.c9{
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}

.c11{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
}

.c12{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}

.c13{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 5;
    grid-row-end: 6;
}

.c14{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;
}

.c15{
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 6;
    grid-row-end: 7;
}

.c16{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}

.c17{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
}

.c20{
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 9;
}